@media screen and (max-width: 420px) {
  .container-fluid {
    padding: 0;
    width: 100% !important;
    overflow-x: hidden;
  }

  .jumbotron {
    margin-top: 150px;
    padding: 0 20px !important;
  }

  .jumbotron h1 {
    color: #263238;
    font-size: 30px;
    text-align: center;

    margin-bottom: 16px;
    line-height: 42px;
  }

  .jumbotron h5 {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    text-align: center;
  }

  .input-wrapper input {
    width: 200px;
    padding: 12px 15px 12px 15px;
    border-radius: 3px;
    border: 1px solid rgb(117, 117, 117);
    outline: none;
    font-size: 14px;
  }

  .input-wrapper input:focus {
    border: 1px solid rgb(249, 129, 58) !important;
    outline: none;
  }

  .input-wrapper button {
    padding: 12px 20px 12px 20px;
    color: white;
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: rgb(249, 129, 58);
  }

  .total-wrapper {
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  .total-card {
    background: #fee6d8;
    margin: auto;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 20px 3px rgb(0 0 0 / 15%);
    text-align: center;
  }

  .total-card h1 {
    font-size: 2em;

    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .total-card p {
    margin-top: 0 !important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    font-size: 12px;
    margin-bottom: 0;
  }

  .whycontainer {
    padding: 0 30px !important;
  }

  .whycontain {
    padding: 1rem;
    display: flex;
    /* flex-direction: column-reverse; */
    background-color: #71ca9b;
    box-shadow: 0px 4px 20px 3px rgb(0 0 0 / 15%);
    align-items: stretch;
    border-radius: 25px;
  }

  .item-contain {
    padding: 10px 10px 10px 10px;
  }

  .item-contain.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content-why {
    background: none;
    box-shadow: none;

    border-radius: 25px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;

    flex-direction: column;
    align-items: center;
  }

  .content-why img {
    width: 90% !important;
    height: 90%;
  }

  .content-why h3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
  }

  .content-why p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-top: 14px;
    line-height: 1.625;
  }

  .image img {
    width: 90% !important;
    height: 90%;
  }
  .content-why.widder {
    height: auto;
  }

  .item-contain.header h1 {
    text-align: left;
    color: #fefefe;

    margin-top: 0 !important;

    display: block;
    font-size: 2em;
    text-align: center;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .item-contain.header p {
    font-size: 20px;
    text-align: center;
    color: #fefefe;
    background: url(/why-bg.svg) no-repeat right;
  }

  .contain-left {
    width: 100%;
    display: flex;
    background: url(/bgfeature.svg) no-repeat top left;

    flex-direction: column;
    background-size: auto;
  }

  .contain-left h1 {
    font-size: 30px;
    display: block;
    text-align: center;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .contain-left p {
    color: #263238;
    font-size: 15px;
    text-align: center;
    padding: 0;
  }

  .card-contain {
    height: auto;
    display: flex;
    box-shadow: 0px 4px 20px 3px rgb(0 0 0 / 15%);
    align-items: center;
    margin-left: auto;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  .feature-container {
    margin-top: 50px;
  }

  .feature-container .imgcontain {
    position: inherit;
    left: 0;

    border: none;

    background: #fefefe;
    margin: auto;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    display: flex;
  }

  .feature-container .imgcontain img {
    height: 100%;

    margin: auto;
    object-position: center;
  }

  .deskripsi-feature h1 {
    color: #272727;
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .deskripsi-feature p {
    color: #272727;
    font-size: 14px;
    line-height: 1.625;
    margin-bottom: 1.25rem;
    text-align: center;
  }

  .deskripsi-feature button {
    padding: 12px 20px 12px 20px;
    color: white;
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: rgb(249, 129, 58);
  }

  .card-contain.second {
    margin-right: auto;
  }

  .card-contain.last .imgcontain {
    position: inherit;
    left: 0;

    border: none;

    background: #fefefe;
    margin: auto;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    display: flex;
  }

  .card-contain.last button {
    cursor: not-allowed;
    pointer-events: none;
    background-color: rgb(117, 117, 117);
    border-color: rgb(117, 117, 117);
  }

  .community {
    background-image: url(/bgcommunity.svg);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-top: 6rem;
    padding-top: 3rem;
    border-radius: 10px;
  }

  .community .imagecontainer {
    display: flex;
    margin-top: 0 !important;
  }

  .community .imagecontainer img {
    width: 100px;
    margin-top: 0;
    margin: auto;
  }

  .community h1 {
    color: rgb(38, 50, 56);
    font-size: 30px;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 20px;
  }

  .community p {
    font-size: 18px;
    color: rgb(38, 50, 56);

    text-align: center;
    line-height: 1.625;
  }

  .community button {
    padding: 12px 20px 12px 20px;
    color: white;
    width: 180px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    background-color: rgb(249, 129, 58);
    text-align: center;
    margin: 0 auto 0 auto;
  }

  .partner {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
  }

  .partner h1 {
    color: #263238;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    padding-top: 2rem;
    margin-right: auto;
    margin-bottom: 2rem;
  }

  .partner p {
    font-size: 20px;
    color: #263238;
    font-size: 18px;
    margin-top: 0.875rem;
    text-align: center;
    line-height: 38px;
    margin-bottom: 2rem;
  }

  .framework-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .card-framework {
    width: 6rem;
    margin: 8px;
  }

  .card-framework .card {
    width: 100%;
    border: 2px solid #13a458;
    border-radius: 8px;
  }

  .card-framework .card img {
    width: 4rem;
    height: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .partner button {
    padding: 12px 20px 12px 20px;
    color: white;
    width: 190px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    background-color: rgb(249, 129, 58);
    text-align: center;
    margin: 50px auto;
  }

  .partner-liputan {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .liputan-container {
    margin-top: 0px;

    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .liputan-container a {
    text-decoration: none;
    transition: all 0.1s ease 0s;
  }
}
